/** Colors */
$brand-primary:         #525ddc;
$white:                 white;
$red:                   #ff3e5f;
$background-color:      #222;
$background-light:      #333;

/** Box Model  */
$spacer:                2rem;
$primary-font:          "Barlow+Semi+Condensed";

// fonts
// @font-face {
//     font-family: primary;
//     src: url("../../fonts/AvenirNextCondensed-Medium.ttf");
// }

// @font-face {
//     font-family: primary-italic;
//     src: url("../../fonts/AvenirNextCondensed-MediumItalic.ttf");
// }   
