.jumbotron {
    height: 100vh;

    background-size: cover;
    position: relative;

    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    .jumbotron-content {
  
      color: white;
      text-align: center;

      height: 40%;
      width:100%;
      
      display: flex;
      align-items: center;
      justify-content: center;

      .jumbotron-circle {
        height: 450px;
        width: 450px;
        // border-radius: 50%;

        // background: #333;
        border: 14px solid white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .main-title {
          margin: 0;
        }

        .sub-title {
          font-size: 50px;
          margin: 0px auto 10px;
        }

        .minor-text {
          font-style: italic;
          margin: 0;
          color: #A6A6A6;
        }

        @include respond-to-breakpoint($phone) {
          width: 300px;
          height: 300px;
          border-width: 8px;

          .main-title {
            font-size: 4em;
          }

          .sub-title {
            font-size: 32px;
          }
        }

      }

    }

    .down-arrow {
      position: absolute;
      bottom: 70px;
      height: 40px;
      width: 40px;
      z-index: 1;

      transition: all 200ms ease-in-out;

      cursor: pointer;

      &:hover {
        height: 45px;
        width: 45px;
      }


      @include respond-to-breakpoint($phone){
        width: 30px;
        height: 30px;
        bottom: 20px;

        &:hover {
          height: 35px;
          width: 35px;
        }

      }


    }

    // &::after {
    //   content: "";
    //   height: 40vh;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;

    //   position: absolute;

    //   background: linear-gradient(transparent, $background-color);
      
    // }
  }